In [3]:
import pandas as pd
import itertools

df = pd.read_csv("calculations/pass_distances.csv")

df

,Unnamed: 0,Loc1,Loc2,Distance (m)
0,0,St John of God Parish San Rafael,Old Municipal Building Baliwag,6520.700846
1,1,St John of God Parish San Rafael,St Augustine Parish Baliwag,6743.710316
2,2,St John of God Parish San Rafael,St James the Apostle Parish Plaridel,13713.607137
3,3,St John of God Parish San Rafael,Simboryo Chapel of Quingua Plaridel,13679.274668
4,4,St John of God Parish San Rafael,Municipal Trial Court Pulilan,13879.979065
...,...,...,...,...
185,185,Constantino Ancestral HouseBalagtas,Old Meycauayan PNR Station Meycauayan,10380.273661
186,186,Constantino Ancestral HouseBalagtas,St Francis of Aggigi Parish Meycauayan,10533.853572
187,187,Diocsan Shrine Bulakan,Old Meycauayan PNR Station Meycauayan,10754.713766
188,188,Diocsan Shrine Bulakan,St Francis of Aggigi Parish Meycauayan,10697.568259
189,189,Old Meycauayan PNR Station Meycauayan,St Francis of Aggigi Parish Meycauayan,574.264246

In [11]:

locations =df["Loc1"].unique() 
results = []
# Iterate through all 2-location combinations (excluding origin)
for x, y, z in itertools.combinations(locations, 3):
    xy = df.query("Loc1 == @x and Loc2 == @y")["Distance (m)"].iloc[0]
    yz = df.query("Loc1 == @y and Loc2 == @z")["Distance (m)"].iloc[0]
    xz = df.query("Loc1 == @x and Loc2 == @z")["Distance (m)"].iloc[0]

    valid = (xy + yz >= xz) and (xz + yz >= xy) and (xy + xz >= yz)

    results.append({
        "Triplet": (x, y, z),
        "Sides (m)": (round(xy, 2), round(yz, 2), f"{round(xz, 2)}"),
        "Valid Triangle": valid
    })

out_df = pd.DataFrame(results)
out_df

,Triplet,Sides (m),Valid Triangle
0,"(St John of God Parish San Rafael, Old Municip...","(6520.7, 227.65, 6743.71)",True
1,"(St John of God Parish San Rafael, Old Municip...","(6520.7, 8923.51, 13713.61)",True
2,"(St John of God Parish San Rafael, Old Municip...","(6520.7, 8953.99, 13679.27)",True
3,"(St John of God Parish San Rafael, Old Municip...","(6520.7, 8345.78, 13879.98)",True
4,"(St John of God Parish San Rafael, Old Municip...","(6520.7, 15032.43, 21433.88)",True
...,...,...,...
964,"(Dr Luis Santos House, Diocsan Shrine Bulakan,...","(8988.91, 10754.71, 19743.47)",True
965,"(Old PNR Guiguinto Station Guiguinto, Constan...","(2941.12, 3909.78, 3897.47)",True
966,"(Old PNR Guiguinto Station Guiguinto, Constan...","(2941.12, 10380.27, 13058.68)",True
967,"(Old PNR Guiguinto Station Guiguinto, Diocsan...","(3897.47, 10754.71, 13058.68)",True
968,"(Constantino Ancestral HouseBalagtas, Diocsan ...","(3909.78, 10754.71, 10380.27)",True

In [13]:
out_df["Valid Triangle"].unique()

array([ True])