In [4]:
import pandas as pd
import itertools

df = pd.read_csv("calculations/symmetric_distances.csv")

origin = df.loc[0, 'Loc1']

locations = {
    row['Loc2']: row['Average']
    for _, row in df.iterrows()
}

results = []

# Iterate through all 2-location combinations (excluding origin)
for loc1, loc2 in itertools.combinations(locations.keys(), 2):
    d1 = locations[loc1]
    d2 = locations[loc2]

    # Estimate third side using triangle inequality 
    est_min = abs(d1 - d2)
    est_max = d1 + d2

    valid = (d1 + est_min >= d2) and (d2 + est_min >= d1) and (d1 + d2 >= est_min)

    results.append({
        "Triplet": (origin, loc1, loc2),
        "Sides (m)": (round(d1, 2), round(d2, 2), f"{round(est_min, 2)}–{round(est_max, 2)}"),
        "Valid Triangle": valid
    })

out_df = pd.DataFrame(results)
out_df

,Triplet,Sides (m),Valid Triangle
0,"(St John of God Parish San Rafael, Old Municip...","(29188.96, 36003.69, 6814.73–65192.65)",True
1,"(St John of God Parish San Rafael, Old Municip...","(29188.96, 22557.16, 6631.8–51746.12)",True
2,"(St John of God Parish San Rafael, Old Municip...","(29188.96, 25084.79, 4104.17–54273.75)",True
3,"(St John of God Parish San Rafael, Old Municip...","(29188.96, 31814.44, 2625.48–61003.4)",True
4,"(St John of God Parish San Rafael, Old Municip...","(29188.96, 23171.14, 6017.82–52360.09)",True
...,...,...,...
100,"(St John of God Parish San Rafael, Constantino...","(11500.75, 863.57, 10637.18–12364.33)",True
101,"(St John of God Parish San Rafael, Constantino...","(11500.75, 863.57, 10637.18–12364.33)",True
102,"(St John of God Parish San Rafael, Diocsan Shr...","(16543.91, 863.57, 15680.33–17407.48)",True
103,"(St John of God Parish San Rafael, Diocsan Shr...","(16543.91, 863.57, 15680.33–17407.48)",True
104,"(St John of God Parish San Rafael, Old Meycaua...","(863.57, 863.57, 0.0–1727.15)",True